
PORT=


REDIS_URL=

# Option B: Host + Port (local Docker Compose / bare-metal)
#   Used only when REDIS_URL is NOT set.
REDIS_HOST=
REDIS_PORT=



SERVER_1_URL=
SERVER_1_NAME=

SERVER_2_URL=
SERVER_2_NAME=
